<!-- Footer -->
<footer class="page-footer font-small bg-warning fixed-bottom">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://www.Zignuts.com"> www.zignuts.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->