@import url('https://fonts.googleapis.com/css2?family=Barlow&family=PT+Sans&display=swap');

:root{
    --dark: #2b2d42;
    --light: #adb5bd;
    --border: #dee2e6;
    --border-btn: #edf2f4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
}

.container{
    max-width: 1024px;
    margin: auto;
}

.nav-brand{
    font-size: 1.5em;
    font-weight: bold;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.justify-between{
    justify-content: space-between;
}

.text-center{
    text-align: center;
}

.border-shadow{
    border: 1px solid var(--border-btn);
    box-shadow: 1px 3px 10px #e9ecef;
}

.text-dark{
    color: var(--dark);
}

.inline{
    display: inline-block;
}

.text-light{
    color: var(--light);
}

.text-gradient{
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#header nav{
    background-color: #229413;
    padding: 1em 0;
    width: 100%;
}

#site-main{
    margin-top: 6em;
    font-family: 'Barlow', sans-serif;
}

#site-main .container .box-nav > a{
    font-size: 1em;
    padding: .5em 1em;
}

#site-main .container form{
    margin: 2em 0;
}

table{
    border-spacing: 0px;
    width: 100%;
}

.table td, .table th{
    padding: .75em;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid var(--border);
}

.table td > a.btn{
    padding: .3em 1em;
    font-size: 1.1em;
    margin: 0 .2em;
}

.table tr:hover{
    background-color:#087fb6 ;
}

.table tr:hover td > a{
    box-shadow: none;
}

.table .thead-dark th{
    color: #fff;
    background-color: var(--dark) ;
    border-color: #32383e;
}

@media only screen and (max-width: 1024px){
    table, thead, tbody, th, td, tr{
        display: block;
    }

    thead tr{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid var(--border);}

    td{
        border: none;
        position: relative;
    }

}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

form {
    
  width  : 740px;
  height : 498px;
  margin : auto;
  padding: 1em;
  box-sizing: border-box;
  
  
  
}
#adbtn {
  background-color: #116b14; /* Green */
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  align-items:center;

}
#adbtn:hover {
  background-color:red;
  color: white;
}



#task {
    padding: 2% 5%;
    border-color: navy;
}
#submit {
    padding: 2% 5%;
    border-color: navy;
    background-color: navy;
    color: white;
}
.ongoing {
    color: navy;
}
.completed {
    text-decoration: line-through;
    color: gray;
}
